p{
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

a {
    color: yellowgreen;
    text-emphasis: bold;
    text-decoration: none;
}

.ans_img {
    text-align: center;
}