.bar{
    background-color: lightcoral;
    width: auto;
    height: fit-content;
    box-shadow: 10px 10px 5px lightblue;
}

.home-link{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.about-link{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.links{
    text-align:left;
}

.links ol{
    display: inline-block;
}



.logo{
    text-align: center;
    color: rebeccapurple;
}

body{
    background-color: cyan;
}