.bar{
    background-color:aliceblue;
    width: auto;
    height: fit-content;
    box-shadow: 10px 10px 5px rgb(57, 57, 57);
}


.home-link{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.about-link{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.project1-link{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.links{
    text-align:left;
}

.links ol{
    display: inline-block;
}

.link ol a{
    display:table;
}

body{
    background-color: aliceblue;
}

#toggle {
    text-align: center;
}

#toggler {
    border: 0px;
}

#toggler:hover {
    background-color: aqua;
}