#title {
    text-align: center;
}

.body {
    color: white;
}

.body p {
    text-align: center;
}

.body {
    text-align: center;
}

/* Managing the first method: */
.quadratic_solver_1 {
    text-align: center;
}

/* Managing the inputs */
.input {
    min-width:10px;
    max-width:50px;
}

/* Managing the dropdown */
#methods {
    width:fit-content;
    font-size: 20px;
    font-weight: bold;
    margin:20px;
}

#solver_2 {
    display: none;
}

/* Managing answer display */

#answerBox {
    display: none;
    text-align: center;
}

#calculatorBox {
    display: none;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 90%;
    height: 800px;
    padding:10px;
}

/* Managing algorithmic explaination */
#latex-container {
    text-align: center;
    color: white;
    background-color: darkslategray;
}

#explaination1 {
    display: block;
}

#explaination2 {
    display:none;
}