#title {
    text-align: center;
}

.body {
    color: white;
}

.body p {
    text-align: center;
}

/* Managing the first method: */
.quadratic_solver_1 p {
    text-align: left;
}

/* Managing the inputs */
.input {
    min-width:10px;
    max-width:50px;
}
