{% extends "base.html" %}

{% block head %}
    <title>Answer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='answer1.css')}}">
{% endblock %}

{% block content %}
    <h1>Calculated Answer</h1>
    <hr>
    <p>{{equation}}</p>
    <hr>
    <div class="ans_img">
    {% if plot_show %}
        <img src="../static/images/plot.jpg">
        <hr>
    {% endif %}
    </div>
    <p><b>Click <a href='/Quadratic Regressor'>Quadratic Regressor</a> on the navbar to head back.</b></p>
{% endblock %}