{% extends "base.html" %}


{% block head %}
    {{super()}}
    <title>Quadratic Regressor</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='project1.css')}}">
{% endblock %}

{% block content %}
    <h1 id="title">Quadratic Regressor</h1>
    <p>This is a quadratic regressor that can output the equation of a parabola, when given either 3 points or the vertex and another point.</p>
    <hr>
    <div class="quadratic_solver_1">
        <form method="post" action={{answer_page}}>
            <h3>Method 1</h3>
            <label>Enter the vertex: </label>
            <label>(<input class="input" id="vertexx" name="vertexx", type="number">, <input class="input" id="vertexy" name="vertexy" type="number">)</label><br><br>

            <label>Enter another valid point: </label>
            <label>(<input class="input" id="pointx" name="pointx" type="number">, <input class="input" id="pointy" name="pointy", type="number">)</label><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}