{% extends "base.html" %}


{% block head %}
    {{super()}}
    <title>Quadratic Regressor</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='project1.css')}}">
    <script src='../static/scripts/validate_form.js'></script>
{% endblock %}

{% block content %}
    <h1 id="title">Quadratic Regressor</h1>
    <p>This is a quadratic regressor that can output the equation of a parabola with two methods.</p>
    <p>Method 1: Enter <b>numerical vertex + point</b> of the parabola.</p>
    <p>Method 2: Enter <b>3 numerical points</b> of the parabola.</p>
    <p>All the coordinates will be treated as rectangular.</p>
    <hr>
    
    <div class="quadratic_solver_1">
        <select name="methods" id="methods">
            <option value="1">Method 1</option>
            <option value="2">Method 2</option>
        </select>
        <form name="solver_1" method="post" onsubmit="return validateNonEmpty()" action={{answer_page}}>
            <label>Enter the vertex: </label>
            <label>(<input class="input" id="vertexx" name="vertexx", type="number">, <input class="input" id="vertexy" name="vertexy" type="number">)</label><br><br>

            <label>Enter another valid point: </label>
            <label>(<input class="input" id="pointx" name="pointx" type="number">, <input class="input" id="pointy" name="pointy", type="number">)</label><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}