{% extends "base.html" %}

{% block title %} 3-D Ring {% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='project1.css')}}">
{% endblock %}

{% block content %}
    <h1 class="title">Geass Based Ring Design</h1>
    <br>
     
    <div class="demo-image">
        <h5 class="demo-descript">Final Model:</h5>   
        <img src="{{url_for('static', filename='project1/demo.jpg')}}">
    </div>

    <div class="phase1">
        <h2> Research and Brainstorm</h2>
        <p>
            During this phase, I spent most of the time researching
            about existing jewelry and which type of jewelry should I choose.
            While looking at the different ideas, I realized that the gem is the most 
            important of the jewelry, so I decided to keep the shank simple and create an 
            intricate gem design instead.
        </p>
    </div>
{% endblock %}